@use "../../../../styles/utils/variables" as *;

.container {
  display: flex;
  align-items: center;

  &.disabled {
    opacity: 0.55;
  }

  & span {
    display: inline-flex;
    width: 22px;
    height: 22px;

    align-items: center;
    justify-content: center;

    background-color: $color-dark-gray;
    border-radius: 5px;

    &::before {
      color: $color-blue-800;
    }
  }

  & span.separator {
    width: 20px;
    height: 2px;
  }
}
