<h1>Booking Request</h1>

<p>A booking was requested. You will be notified once the coworking has confirmed your reservation.</p>

<p>Coworking: </p> <span>{{ coworking }}</span>
<p>Service: </p> <span>{{ serviceType }}</span>
<p>Date: </p> <span>{{ date }}</span>
