<h1>Booking Rejected</h1>

<p>Your booking request has been rejected.</p>

<p>Coworking: </p> <span>{{ coworking }}</span>
<p>Service: </p> <span>{{ serviceType }}</span>
<p>Date: </p> <span>{{ date }}</span>
