<h1>Meeting Approved</h1>

<p>Your meeting room request has been approved.</p>

<p>Coworking: </p> <span>{{ coworking }}</span>
<p>Meetroom: </p> <span>{{ meetroom }}</span>
<p>From: </p> <span>{{ from }}</span>
<p>To: </p> <span>{{ to }}</span>
