<h1>Meetroom Request</h1>

<p>A meeting room was requested. You will be notified once the coworking has confirmed your reservation.</p>

<p>Coworking: </p> <span>{{ coworking }}</span>
<p>Meetroom: </p> <span>{{ meetroom }}</span>
<p>From: </p> <span>{{ from }}</span>
<p>To: </p> <span>{{ to }}</span>
