<h1>New Invoice</h1>


<p>First name: </p> <span>{{ user.first_name }}</span>
<p>Last name: </p> <span>{{ user.last_name }}</span>
<p>E-mail: </p> <span>{{ user.email }}</span>
<p>Invoice Amount: </p> <span>{{ invoice.total }}</span>
<p>Coworking: </p> <span>{{ cowork.name }}</span>
