<h1>Lost Password</h1>

<p>{{ coworkAccount.name }} register you on Workeaser. Click on the link below to register a password to access the features. </p>

<p>First name: </p> <span>{{ first_name }}</span>
<p>Last name: </p> <span>{{ last_name }}</span>
<p>E-mail: </p> <span>{{ email }}</span>
<p>Token: </p> <span>{{ token }}</span>
