<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New Delivery</title>
</head>

<body style="font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f7f9fb; margin: 0;">

  <table style=" width: 100%; background-color: #f7f9fb; margin: 0;">
    <tr>
      <td width="600" style=" vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;">
        <div style=" max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
          <table width="100%" cellpadding="0" cellspacing="15px" style="border-radius: 0px; background-color: #fff; margin: 0; border: 1px solid #ced9e6; padding: 15px 15px 15px 15px;">
            <tbody>
              <tr class="logoRow">
                <td style="text-align: center;">
                  <img src="https://workeaser.com/wp-content/themes/workeaser/assets/img/Workeaser_Original.png" style="width: 170px;height: 70px;object-fit: contain; object-position: center; margin: 0px 0px 10px 0px;">
                </td>
              </tr>
              <tr class="headlineRow">
                <td style="text-align: center; font-size: 22px; line-height: initial; font-weight: 900; color: #2f3854; padding: 0px 0px 15px 0px;">
                  New Delivery.
                </td>
              </tr>
              <tr class="userRow">
                <td>
                  Hey <b>{{clientFirstName}}</b>, this is your workspace manager <b>{{managerName}}</b>.
                </td>
              </tr>
              <tr class="contentRow">
                <td style="text-align: justify;">
                  I'm here to let you know that we have received a new delivery for you at <b>{{locationName}}</b>. Please see the summary below, and let me know what you want me to do with it.
                </td>
              </tr>
              <tr>
                <td>
                  <table style="width: 100%; padding: 15px 0px 0px 0px; border-spacing: 0px;">
                    <tbody>
                      <tr>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px;">Receipt Date:</td>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px; text-align: right;">
                          {{receiptDate}}
                        </td>
                      </tr>
                      <tr>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px;">Receiver:</td>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px; text-align: right;">
                          {{clientFirstName}}
                        </td>
                      </tr>
                      <tr>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px;">Location:</td>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px; text-align: right;">
                          {{locationName}}
                        </td>
                      </tr>
                      <tr>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px;">Delivery Note:</td>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px; text-align: right;">
                          {{deliveryNote}}
                        </td>
                      </tr>
                      <tr>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px;"></td>
                        <td style="border-top: 1px solid #ced9e6; padding: 7px;"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr class="buttonRow">
                <td style="text-align: center;">
                  <a href="{{token}}" style="font-size: 13px; letter-spacing: 1px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; text-transform: uppercase; background-color: #2f3853; margin: 25px 0px 25px 0px; padding: 10px 20px 10px 20px;">View Delivery</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="footer" style="width: 100%; clear: both;">
            <table width="100%" style="background: #ced9e6;">
              <tr>
                <td style="font-size: 12px; vertical-align: top; color: #2f3853; text-align: center; padding: 15px 0px 0px 0px;">
                  Need help? Email us <a href="mailto:help@workeaser.com" style="font-size: 12px; color: #2f3853; text-decoration: underline;">help@workeaser.com</a>.<br>
                  2295 South Hiawassee Road, Suite 104, Orlando, FL, 32835.
                </td>
              </tr>
              <tr>
                <td style="font-size: 12px; vertical-align: top; color: #2f3853; text-align: center; padding: 15px 0px 15px 0px;">
                  Powered by: <b><a href="https://workeaser.com" style="font-size: 12px; color: #2f3853; text-decoration: underline;">Workeaser</a></b>.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>

</body>
</html>
