@use "sass:math";
@use "variables" as *;

@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

@mixin line-height($font-size, $line-heigh) {
  line-height: math.div($line-heigh, $font-size);
}
@mixin letter-spacing($letter-spacing) {
  letter-spacing: math.div($letter-spacing, 1000) * 1em;
}

@mixin width-animation-mixin($name, $from, $to) {
  animation: $name 0.5s forwards;

  @keyframes #{$name} {
    from {
      width: $from;
    }
    to {
      width: $to;
    }
  }
}

%scrollbar-y {
  padding-right: 5px;

  scrollbar-color: $color-dark-gray $color-light-gray;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-dark-gray;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: $color-gray-200;
    border-radius: 8px;

    &:hover {
      background-color: $color-darker-gray;
    }
  }
}

%span-background {
  text-align: center;

  span {
    font-size: 10px;
    font-weight: $font-semibold;
    @include letter-spacing(50);
    padding: 6px 10px;
    border-radius: 7px;
  }
}

%block-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
