// colors
$color-white: #fff;

$color-light-gray: #f7f9fb;
$color-dark-gray: #ecf1f6;
$color-darker-gray: #707070;

$color-gray-200: #dbe6f0;
$color-gray-300: #ced9e6;

$color-blue-100: #02a2dd;
$color-blue-200: #2491c9;
$color-blue-300: #3080b5;
$color-blue-400: #356fa0;
$color-blue-500: #365f8c;
$color-blue-600: #355077;
$color-blue-700: #314263;
$color-blue-800: #2b3450;

$color-red-300: #dc1237;
$color-red-500: #af0000;

$color-orange-500: #f4642d;

$color-green-400: #2dc9a5;
$color-green-500: #dcf3dc;
$color-green-550: #00b500;
$color-green-600: #0daf00;

$color-yellow-400: #efca2f;
$color-yellow-500: #efca00;

$color-tablebackground-red: #fcdacd;
$color-tablebackground-yellow: #fcf6d8;
$color-tablebackground-green: #d8f3d8;
$color-tablebackground-gray: #ecf1f6;
$color-tablebackground-blue: #d9f1fa;

$color-notify-success: #92cf65;
$color-notify-fail: #f14b5c;

$color-chart-green: #90be6d;
$color-chart-yellow: #f9c74f;
$color-chart-red: #f94144;
$color-chart-orange: "#F3722C";
$color-chart-blue: "#277DA1";

//fonts
$font-book: 300;
$font-regular: 400;
$font-semibold: 500;
$font-semibolder: 600;
$font-bold: 700;
$font-black: 900;

$main-content-height: calc(100vh - 175px);

$datepicker__font-size: 2rem;
$datepicker__background-color: #3080b5;
