@use "../../../../styles/utils/variables" as *;

.wrapper {
  max-width: 175px;
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin: auto;
}

.container {
  position: relative;

  span {
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    border-radius: 5px;
    background: $color-light-gray;

    &.inactive {
      opacity: 0.25;
    }
  }
}
