@use "../../../../styles/utils/variables" as *;
@use "../commom";

.header {
  @extend %section-header;
}

button.viewButton {
  height: 24px;
  font-size: 12px;
  padding: 0 12px;
}

.textCenter {
  text-align: center;
}
