.tableContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
	background: #2e3656;
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
	display: none !important;
}

