{
    "presets": ["@babel/preset-react", "next/babel"],
    "env": {
      "development": {
        "plugins": [
          [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
          ]
        ],
        "presets": ["next/babel"]
      },
      "production": {
        "plugins": [
          [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
          ]
        ],
        "presets": ["next/babel"]
      }
    },
    "plugins": [
      [
        "styled-components",
        { "ssr": true, "displayName": true, "preprocess": false }
      ]
    ],
    "overrides": [
      {
        "include": ["./node_modules"],
        "plugins": [
          [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
          ],
          [
            "babel-plugin-transform-require-ignore",
            {
              "extensions": [".css", "scss"]
            }
          ],
          [
            "module-resolver",
            {
              "alias": {
                "@modules": "./modules",
                "@components": "./components",
                "@layout": "./layout",
                "@styles": "./styles",
                "@utils": "./utils"
              }
            }
          ]
        ]
      }
    ]
  }