@use "../../../styles/utils/variables" as *;
@use "../../../styles/utils/helpers" as h;

.container {
  height: 30px;
  // width: 100%;
  font-size: 10px;
  font-weight: $font-semibold;
  @include h.letter-spacing(50);
  color: $color-blue-800;

  padding: 0 10px;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.9);
  }

  &.primary {
    background-color: $color-tablebackground-blue;
  }
  &.success {
    background-color: $color-tablebackground-green;
  }
}
