@use "../../../styles/utils/variables" as *;

.container {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  background-color: $color-dark-gray;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.9);
  }
}
