@use "../../../styles/utils/variables" as *;
@use "../../../styles/utils/helpers" as h;

.container {
  position: relative;
  flex-basis: 150px;
  width: fit-content;
  height: 36px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  user-select: none;
  @include h.letter-spacing(50);

  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;

    border: 1px solid $color-gray-300;

    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: border-color 0.3s;

    &:checked {
      border-width: 2px;
      border-color: $color-blue-100;
    }
  }

  span {
    display: inline-flex;
    font-size: 12px;
    font-weight: $font-semibolder;
    padding: 6px;
  }
}
